<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.freightmanagement"
    android:versionCode="102"
    android:versionName="1.0.2">

    <!--receiver   开启权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".Base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/file_paths"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activity.DrivierxiangqingActivity"></activity>
        <activity android:name=".Activity.VehicleDetectionActivity" />
        <activity android:name=".Activity.CheLiangJcActivity" />
        <activity android:name=".Activity.PromiseBookActivity" />
        <activity
            android:name=".Activity.ResponsibilityBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CarCheckedInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.VehicleInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CommonHtmlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CommonVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PlayerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".Activity.DriverInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EmploymentContractActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CompanyRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CarOwnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DriverConfigActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TrainingSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CommonImgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TrainingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TrainingStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TrainingAnswerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DriverListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.StartLiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MeetingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.CarListManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CarAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.WeiXiuJiLuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SelectCarActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MaintenanceRecordsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SWCameraStreamingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CarInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RoleSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MyStreamActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.CarBYInfoActivity" />
        <activity android:name=".Activity.CarWeiXiuInfoActivity" />

        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1112200918157779#demo" />
        <!-- 声明SDK所需的service SDK核心功能-->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
    </application>

</manifest>